# Debug files
debug
# Layer Image Files
public/images


# Map Files
*.map

# Lgs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# vim SWP files
*.swp
