<div class="left-panel">
    <h1>Layers</h1>
    <div id="layer-list">
        <div dragula="'layers'" dragula-model="ec.json.layers">
            <div class="layerObj" ng-repeat="layer in ec.json.layers">
                <div class="preview">
                    <img ng-src="{{layer.image}}" width="60" />
                </div>
                <div class="details">
                    {{layer.name}}
                </div>
                <div class="delete" ng-click="ec.delete(layer)"></div>
            </div>
        </div>
    </div>
</div>
<div class="right-panel">
    <div>
        <form name="layerUpload">
            <fieldset>
                <legend>Add New Layer</legend>

                <label>Layer Name</label><br>
                <input type="text" placeholder="Name" ng-model="ec.name" required /><br>
                <br>
                <label>Image</label><br>
                <input type="file" ngf-select ng-model="imageFile" name="file" accept="image/*"
                cols="80" required /><br>
                <br>
                <img ng-show="layerUpload.file.$valid" ngf-thumbnail="imageFile"
                                                          height="60"/><br>
                <button ng-disabled="!layerUpload.$valid"
                        ng-click="ec.uploadImage(imageFile)">Add Layer</button>
            </fieldset>
        </form>    
    </div>
    <div>
        <form name="marqueeSet">
            <fieldset>
                <legend>Marquee Text</legend>
                <input type="text" ng-model="ec.json.marquee" rows="3" cols="80" required><br>
            </fieldset>
        </form>
    </div>
    <div>
        <button ng-click="ec.save()">Save Layout</button>
    </div>
</div>
